{% extends "base.html" %}

{% block page_title %}
Create Task
{% endblock %}

{% block content %}

<div>
    <h1>Create a new task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
</div>

{% endblock %}