{% extends "base.html" %}

{% block page_title %}
Create New Project
{% endblock %}

<body>
    {% block content %}

    <div>
        <h1>Create a new project</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>

    {% endblock %}
</body>